.features-section {
    padding: 120px 0;

}

.features-list {
    display: flex;
    gap: 24px;

}

.features-title {
    margin-bottom: 8px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}