.features {
    width: 1440px;
    height: 344px;
    padding: 0px 120px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #ffffff;
    
   
}

.features-title {
    font-size: 36px;
    text-align: center;
    display: none;
    

}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.features-description {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.features ul {
    width: 1158px;
    height: 104px;
    padding: 15px 0px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}