.section-footer {
    background-color: #2e2f42;
    color: #ffffff;    
    gap: 0px;
}

.section-footer .logo {
    color: #f4f4fd;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.section-footer .accent {
    color: #4d5ae5;
}

.city-text {
    color: #f4f4fd;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.foot {
    gap: 0px;
    padding: 100px 100px;
    justify-content: flex-start;
    align-items: center;

}