.hero {
    background-color: #2e2f42;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    padding: 188px 0;
    

}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    

}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center ;
    margin-top: 48px;
    border-radius: 4%;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}