.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    margin-bottom: 48px;
}

.hero-button {
    background: #4d5ae5;
    color: #fff;
    padding: 16px 32px;
    cursor: pointer;
}