.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    margin-bottom: 48px;
}

.hero-button {
    background: #4d5ae5;
    color: #fff;
    padding: 16px 32px;
    cursor: pointer;
}
.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    border: none;
    border-radius: 4px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}