.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-role {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.portfolio {
    padding: 120px 0px;
    gap: 10px;
}
.portfolio ul {
    gap: 72px;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}